@import "./color"
    
shadowColor = #101010

.shadow
    box-shadow: -1px 1px 2px 0px shadowColor

.vertical-shadow
    box-shadow: 1px 0px 5px 2px shadowColor

.horizontal-shadow
    box-shadow: 0px 1px 5px 2px shadowColor


