@import "./color"

.text
    // Base: 
    color: maxContrastColor 

    // Contrast
    &.low-contrast
        color: lowContrastColor
    &.medium-contrast
        color: mediumContrastColor
    &.high-contrast
        color: highContrastColor
    &.max-contrast
        color: maxContrastColor

    // Accents:
    &.red-accent
        color: redAccentColor
    &.green-accent
        color: greenAccentColor
    &.yellow-accent
        color: yellowAccentColor
    &.orange-accent
        color: orangeAccentColor
    &.purple-accent
        color: purpleAccentColor
    &.blue-accent
        color: blueAccentColor
