@import "./color"

.token
    // Base:
    background-color: mediumContrastColor
    border-radius: 999px
    color: layerOneSecondaryColor

    // Primary:
    &.layer-one
        color: layerOneSecondaryColor
    &.layer-two
        color: layerTwoSecondaryColor
    &.layer-three
        color: layerThreeSecondaryColor
    &.layer-four
        color: layerFourSecondaryColor

    // Contrasts
    &.low-contrast
        background-color: lowContrastColor
    &.medium-contrast
        background-color: mediumContrastColor
    &.high-contrast
        background-color: highContrastColor
    &.max-contrast
        background-color: maxContrastColor


    // Accents:
    &.red-accent
        background-color: redAccentColor
    &.green-accent
        background-color: greenAccentColor
    &.yellow-accent
        background-color: yellowAccentColor
    &.orange-accent
        background-color: orangeAccentColor
    &.purple-accent
        background-color: purpleAccentColor
    &.blue-accent
        background-color: blueAccentColor