// Primary Colors (logo, key visuals)
primaryColor = #990044
primaryColorDark = #990044

// Secondary Colors (backgrounds, borders)
layerOneSecondaryColor = #990044
layerTwoSecondaryColor = #990044
layerThreeSecondaryColor = #990044
layerFourSecondaryColor = #990044

// Contrast Colors (fonts, icons)
lowContrastColor = #990044
mediumContrastColor = #990044
highContrastColor = #990044

// Accent Colors (fonts, icons)
redAccentColor = #990044
greenAccentColor = #990044
yellowAccentColor = #990044
orangeAccentColor = #990044
purpleAccentColor = #990044
blueAccentColor = #990044