// Colors
primaryColor = #990044
primaryColorDark = #990044

layerOneSecondaryColor = #990044
layerTwoSecondaryColor = #990044
layerThreeSecondaryColor = #990044
layerFourSecondaryColor = #990044

redAccentColor = #990044
greenAccentColor = #990044
yellowAccentColor = #990044
orangeAccentColor = #990044
purpleAccentColor = #990044
blueAccentColor = #990044
