@import "./color"

.red-accent
    color: redAccentColor
.green-accent
    color: greenAccentColor
.yellow-accent
    color: yellowAccentColor
.orange-accent
    color: orangeAccentColor
.purple-accent
    color: purpleAccentColor
.blue-accent
    color: blueAccentColor
