// Primary Colors (logo, key visuals)
primaryColor = #FFD866
primaryColorDark = #FFD866

// Secondary Colors (backgrounds, borders)
layerOneSecondaryColor = #19181A
layerTwoSecondaryColor = #221F22
layerThreeSecondaryColor = #2D2A2E
layerFourSecondaryColor = #403E41

// Border Colors
layerOneBorderColor = #101010
layerTwoBorderColor = #101010
layerThreeBorderColor = layerOneSecondaryColor
layerFourBorderColor = layerTwoSecondaryColor

// Contrast Colors (fonts, icons)
lowContrastColor = #5b5859
mediumContrastColor = #939293
highContrastColor = #B6B5B5
maxContrastColor = #FFFFFF  // should be always black or white

// Accent Colors (fonts, icons)
redAccentColor = #FF6188
greenAccentColor = #A9DC76
yellowAccentColor = #FFD866
orangeAccentColor = #FC9F72
purpleAccentColor = #AA9CF0
blueAccentColor = #78DCE8

// Special Colors
shadowColor = 101010