{
    "masterNode": {
        "services": {
            "url": "https://localhost:8102/ubii/services/json"
        },
        "topicdata": {
            "url": "wss://localhost:8104"
        }
    }
}